<div class="fields_with_errors" >
  <% if @user.errors.any? %>
   <div id="error_explanation">
     <h2>
      Woops - please fix the following   <%= pluralize(@user.errors.count, "error") %> before proceeding!
     </h2>

     <ul>
     <% @user.errors.full_messages.each do |msg| %>
       <li><%= msg %></li>
     <% end %>
     </ul>
   </div>
  <% end %>
</div>
<!--form without error messages  -->
<%=render 'form' %>
