<div id="show_event">
  <%= link_to "Next Event", "/events/#{@user_events[@user_events.index(@event) + 1].id}", class: "next" %>
  <%= render partial: "event_info", locals: {event: @event} %>
  <%= link_to 'Edit Event', edit_event_path, class: "edit_event_link"%> <br></br>
  <%= link_to 'Delete Event', event_path, method: :delete %><br></br>
</div>





<script id="event-template" type="text/x-handlebars-template">
 <a class ="next" href="/events/{{idOfNext}}" >Next Event</a>

  <h1>{{name}}</h1>
  <h3>Date: {{displayDate}}</h3>
  <h3>Time: {{displayTime}}</h3>
  <h3>Cost: {{cost}}</h3>
  <h3>Location: {{location}}</h3>
  <h3>Description: {{description}}</h3>

  <a href="{{id}}/edit">Edit Event</a><br></br>
  <a href="{{id}}" data-method="delete">Delete Event</a><br></br>

</script>
