div#home {
  position: relative;
  top: 70px;
  left: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;


  font-size: 25px;
  color: #14B67D;
  font-family: 'Rock Salt', cursive;
  text-shadow: 3px 2px black;
  color: #14B67D;

}

.navbar-expand-lg {
    background: rgba(225, 225, 224,0.8);
    /* text-shadow: 1px 2px black; */
    /* font-family: 'Rock Salt', cursive, !important;

    color: black;
    font-size: 25px; */
}

.navbar-expand-lg.nav-link{
  /* color: #14B67D; */

}

.navbar-brand {
    /* font-size: 40px;
    position: relative; */
}
